body {
	margin: 0;
	font-family: 'Libre Franklin';
	box-sizing: border-box;
}
li {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: inherit;
}
header {
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
img {
	width: 100%;
}
.header-wrap {
	max-width: 1110px;
	margin: auto;
	align-items: center;
	padding-top: 93px;
}
.logo {
	width: 116px;
	font-weight: bold;
	font-size: 24px;
	color: #fff;
}
.rod-block {
	width: 1110px;
	max-width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav {
	width: 530px;
	max-width: 100%;
	color: #fff;
}
.nav {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
}
.header-bg {
	background-color: rgba(198, 108, 73, 0.3);
	height: 768px;
}
.text-one {
	font-size: 64px;
	padding-bottom: 26px;
}
.text-two {
	font-size: 24px;
	padding-bottom: 106px;
}
.text-three {
	font-size: 18px;
	font-weight: 400;
}
.rod-text {
	padding-top: 105px;
	width: 694px;
	max-width: 100%;
	color: #fff;
	padding-bottom: 240px;
}
.section-wrap {
	max-width: 1107px;
	margin:  auto;
	font-family: 'Libre Franklin';
}
.section {
	padding-top: 90px;
}
.text {
	padding-top: 75px;
	padding-bottom: 115px;
}

.text-lorem {
	font-size: 18px;
	font-weight: 400;
	text-align: justify;
	color: gray;
}
.section-wrap h2 {
	margin: 0;
}
.skills {
	font-weight: bold;
	background-color: #FFFAF2;
}
.skills-text {
	width: 1107px;
	margin: auto;
	padding-bottom: 85px;
	padding-top: 120px;
}
.skills-wrap {
	max-width: 1107px;
	margin: auto;
	color: black;
	padding-bottom: 130px;
}
.lorem-skills {
	max-width: 315px;
}
.-text-one {
	width: 60px;
}
.skills-img{
	max-width: 350px;
}
.skills-img img{
	width: 100%;
}
.skills-rod {
	max-width: 1110px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.skills-text-rod {
	max-width: 505px;
	display: flex;
	margin-bottom: 30px;
	margin-top: 25px;
	justify-content: space-between;
}
.profile {
	width: 58px;
	font-size: 18px;
	font-weight: bold;
}
.Engineer {
	width: 315px;
	max-width: 100%;
}
.grafic-rod {
	width: 635px;
	max-width: 100%;
	display: flex;
	margin-bottom: 20px;
	justify-content: space-between;
}
.grafic {
	width: 446px;
	max-width: 100%;
	background-color: #F5D6AB;
}
.grafic-text {
	width: 111px;
	max-width: 100%;
	font-size: 18px;
	font-weight: bold;
}
.grafic-one	{
	width: 380px;
	max-width: 100%;
	height: 25px;
	background-color: #C66C49;
}
.tools-rod {
	width: 363px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.tools-one {
	width: 46px;
	max-width: 100%;
	font-size: 18px;
	font-weight: bold;
}
.tools-two {
	width: 175px;
	max-width: 100%;
}
.grafic-on	{
	width: 350px;
	max-width: 100%;
	height: 25px;
	background-color: #C66C49;
}
.tools-rod2 {
	width: 465px;
	max-width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.tools-on {
	width: 46px;
	font-size: 18px;
	max-width: 100%;
	font-weight: bold;
}
.tools-tw {
	width: 277px;
	max-width: 100%;
}
.grafic-2	{
	width: 286px;
	max-width: 100%;
	height: 25px;
	background-color: #C66C49;
}
.grafic-text2 {
	width: 123px;
	max-width: 100%;
	font-size: 18px;
	font-weight: bold;
}

.portfolio {
	width: 1110px;
	max-width: 100%;
	margin: auto;
}
.porto {
	font-size: 24px;
	font-weight: bold;
	padding-top: 70px;
	width: 1110px;
	margin: auto;
	max-width: 100%;
}
.left-rod {
	width: 350px;
	max-width: 100%;
}
.port-rod {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.research {
	margin-top: 85px;
	width: 140px;
	max-width: 100%;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 50px;
}
.port-lorem	 {
	font-size: 18px;
	font-weight: 400;
}
.left-rod img {
	width: 62px;
	height: 25px;
	margin-top: 280px;
	margin-left: 10px;
}
.right-rod {
	width: 635px;
	max-width: 100%;
	display: flex;
	margin-top: 145px;
	justify-content: space-between;
}
.left-one-img img{
	width: 350px;
	max-width: 100%;
	height: 144px;
}
.left-two-img img{
	width: 350px;
	max-width: 100%;
	margin-top: 25px;

}
.right-one-img img{
	width: 255px;

}
.right-two-img img{
	width: 255px;
	height: 145px;
	margin-top: 25px;
}
footer nav {
	color: black;
	font-family: Libre Franklin;
}
.footer-wrap {
	max-width: 930px;
	width: 100%;
	margin: auto;
	padding-bottom: 130px;
	padding-top: 170px;
}
footer {
	background: #FFFAF2;
	margin-top: 160px;
}
.footer-text {
	max-width: 930px;
	width: 100%;
	margin: auto;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 50px;
}
.section-footer {
	display: flex;
	align-items: center;
}
.navi li{
	margin-bottom: 10px;
}
ul {
	padding: 0;
	margin: 0;
}
.navi {
	margin-bottom: 75px;
}
.right-block {
	max-width: 645px;
	width: 100%;
}

@media only screen and (max-width: 450px) {
	.logo {
		text-align: center;
		font-weight: 900;
		font-family: 'Libre Franklin';
	}
	header nav {
		display: none;
	}
	.header {
		width: 373px;
		height: 275px;
	}
	.text-two {
		padding-bottom: 40px;
	}
	.header-wrap {
		padding-top: 30px;
	}
	.header-bg {
		height: auto;
	}
	.rod-text {
		padding-bottom: 50px;
		padding-top: 50px;
	}
	.rod-block{
		justify-content: center;
	}
	.skills-text-rod {
		width: 310px;
	}
	.skills-text {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.skills-wrap {
		padding-bottom: 25px;
	}
	.profile {
		width: 98px;
		font-size: 12px;
	}
	.Engineer {
		width: 211px;
		font-size: 12px;
	}
	.tools-one {
		width: 92px;
		font-size: 12px;
	}
	.grafic-rod{
		width: 309px;
		height: 18px;
	}
	.grafic-2 {
		width: 180px;
		height: 18px;
	}
	.grafic-one {
		width: 135px;
		height: 18px;
	}
	.grafic .grafic-on {
		width: 165px;
		height: 18px;
	}
	.Engineer, .tools-tw, .tools-two {
		color: #333333;
	}
	.tools-two {
		width: 210px;
		text-align: left;
		font-size: 12px;
	}
	.tools-on {
		width: 30px;
		font-size: 12px;
	}
	.tools-tw {
		width: 210px;
		font-size: 12px;
	}
	.grafic-text2 {
		width: 82px;
		font-size: 12px;
	}
	.grafic-text {
		width: 82px;
		font-size: 12px;
	}
	.grafic,.grafic-on {
		width: 321px;
	}

	.rod-text {
		text-align: center;
	}
	.section-wrap .about {
		text-align: center;
		margin-top: 25px;
		font-size: 24px;
	}
	.section {
		padding-top: 10px;
	}
	.text {
		padding-top: 10px;
	}
	.text-lorem {
		padding-left: 30px;
		padding-right: 30px;
	}
	.text-one {
		font-size: 20px;
		font-weight: 400;
	}
	.text-two {
		font-size: 13px;
	}
	.right-rod img{
		width: 309px;
	}
	.skills-img {
		width: 225px;
	}
	.skills-rod {
		justify-content: center;
	}
	.skills-text {
		text-align: center;
		width: 62px;
		font-size: 24px;
		font-weight: 700;
	}
	.right-block {
		width: 310px;
	}
	.grafic {
		width: 210px;
	}
	.porto {
		text-align: center;
		padding-top: 25px;
	}
	.research {
		text-align: center;
		font-size: 14px;
		width: 375px;
		margin-top: 20px;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.left-rod {
		width: 100%;
		text-align: center;
	}
	.Arrow {
		display: none;
	}
	.port-lorem {
		font-size: 12px;
		font-weight: 400;
		width: 308px;
		height: 70px;
		margin: auto;
	}
	.right-rod {
		width: 308px;
		margin: auto;
	}
	.left-one-img img{
		width: 170px;
		height: 70px;
	}
	.left-two-img img{
		width: 170px;
		height: 113px;
		margin-top: 10px;
	}
	.right-one-img img{
		width: 123px;
		height: 113px;
	}
	.right-two-img img {
		width: 123px;
		height: 70px;
		margin-top: 10px;
	}
	.right-block {
		padding-bottom: 20px;
	}
	.footer-wrap {
		padding-top: 20px;
		margin-bottom: 20px;
	}
	.footer-text {
		width: 142px;
		font-size: 24px;
	}
	.section-footer {
		width: 230px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.navi3 {
		width: 130px;
		font-size: 12px;
	}
	footer nav {
		width: 75px;
		font-size: 14px;
		height: 160px;

	}
}